<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="{% static 'style.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=MonteCarlo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="gold">
    <span data-double="EM">EM</span>
    <span data-double="Елена Мишута">Елена Мишута</span>
    <span data-double="Нутрициолог">Нутрициолог</span>
</div>

</body>
</html>